:root {
    --siteburgundy: rgb(130, 0, 40);
}

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

header {
    background-color:var(--siteburgundy);
    color: aliceblue;
    line-height: 1.4rem;
    font-size: 0.8em;
}

article, aside {
    margin-left: 2rem;
}

aside {
    background-color: rgb(240, 230, 220);
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.25em;
}

.secondbox {
    background-image: url("../media/hands.jpg");
    background-size: cover;
    width: 90vw;
    height: 60vw;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.ingress {
    font-weight: 700;
    color: orange;
}

aside > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: larger;
}

footer > div {
    margin: 2rem;
    margin-bottom: 0.2rem;
    padding: 0.4rem;
    border-style: dashed;
    font-size: smaller;
}