:root {
  --siteburgundy: rgb(130, 0, 40);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: beige;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
  color: goldenrod;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

header {
  background-color: var(--siteburgundy);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.title {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

#burger-toggle {
  display: none;
}

.menu-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.hamburger-toggle-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.menu {
  display: none;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--siteburgundy);
}

.menu li {
  padding: 0.5rem;
}

.menu a {
  color: white;
  text-decoration: none;
}

#burger-toggle:checked + .hamburger-toggle-container + .menu {
  display: flex;
}

@media (min-width: 701px) {
  .menu {
    display: flex !important;
    flex-direction: row;
    background-color: transparent;
  }

  .hamburger-toggle-container {
    display: none;
  }
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.mainbox {
  grid-column: 1 / 2;
}

.secondbox {
  grid-column: 1 / 2;
  background-image: url("../media/hands.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

aside {
  grid-column: 2 / 3;
  background-color: rgb(240, 230, 220);
  padding: 1rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-top: 2px dashed aliceblue;
  background-color: var(--siteburgundy);
  color: white;
}

footer h3 {
  margin-top: 0;
}

footer p,
footer a {
  color: white;
}